{% extends 'base_admin.html.twig' %}

{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{{asset('static/css/bootstrap.min.css')}}">
 <link rel="stylesheet" type="text/css" href="{{asset('static/css/style.css')}}">

{% endblock %}

{% block body %}

<h1>Inovative Logs management</h1>

<p class="bg-dark"><code class="text-light">You used a {{ method }} method</code></p>

<p>In order to get logs list, please send a request of the same type on this page! :)</p>

<p>Only test datas are available at the moment, but the logs will be linked on it soon!</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Log Method</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for log in response %}
    <tr>
      <td>{{ log.id }}</td>
      <td>{{ log.log_method }}</td>
      <td>{{ log.log_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
