<!DOCTYPE html>
<html lang="en">

<head>
  <title>Containment Forever</title>
  <link rel="stylesheet" href="/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Containment Forever
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/confinement">Confinement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flag">Flag</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Welcome on Containment Forever!</h1>
      <p>This forum was created to keep you sane from the isolation of the global Confinement!</p>
      <p>Feel free to read whatever you want from our writers.</p>
    </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>
