<!DOCTYPE html>
<html lang="en">

<head>
  <title>Containment Forever</title>
  <link rel="stylesheet" href="/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Containment Forever
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/confinement">Confinement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flag">Flag</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1><%= item.name %></h1>
      <h2><span class="badge badge-success">Written by <%= item.pseudo %></span></h2>
      <hr>
      <img src="<%= item.image %>"/>
      <p class="alert-primary"><%= item.details %></p>
    </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>
