body {
	--dark-one: #2d2d2d;
	--medium-one: #3d3d3d;
	--light-one: #f5f2f0;
	background: var(--medium-one);
}

.nav-wrapper {
	background: var(--dark-one);
}

h1, h2, p, input {
	color: var(--light-one);
}

/* --- Index part ------------------- */
img {
	border: 3px solid #fff;
	border-radius: 100%;
	width: 240px;
	margin: auto;
	display: block;
}

p {
	font-size: 1.2em;
	text-align: justify;
}

/* --- Upload part ------------------ */

.badge {
	font-size: 1rem;
}

.btn:hover, .submit:hover {
	background-color: var(--dark-one);
}

input.valid[type="text"]:not(.browser-default) {
	border-bottom: 1px solid var(--light-one);
	-webkit-box-shadow: 0 1px 0 0 var(--light-one);
	box-shadow: 0 1px 0 0 var(--light-one);
}

.file-field {
	display: flex;
}

.file-path-wrapper {
	width: 70%;
}

.submit {
	position: absolute;
	right: 0;
}

.btn {
	background: var(--medium-one);
}
