.fish-add {
	display: block !important;
	margin: auto;
	margin-top: 30px;
}


.container {
	padding: 30px;
	overflow-y: scroll;
	scrollbar-color: #56a6af rgba(0,0,0,0);
	scrollbar-margin: none;
	height: 80vh;
}

#error {
	font-weight: bold;
	font-size: 1.2em;
}
