<!--templates/404.html-->

{% extends "base.html" %}
{% block title %}Oups{% endblock %}
{% block content %}

<div class="content">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4" style="text-align: center;">There is a problem</h1><br/>
			<center><img src="https://media.giphy.com/media/9J7tdYltWyXIY/giphy.gif" /></center><br/>
		</div>
	</div>
</div>

{% endblock %}