<!--templates/help.html-->

{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}

<div class="content">
	<div class="jumbotron" style="">
		<div class="container">
			<h1 class="display-4" style="text-align: center;">How to</h1><br/>
			<ol>
 <li>Install <a href="https://metamask.io/" style="">MetaMask</a> plugin and select Ropsten test network.</li>
 <li>Submit your adress to <a href="https://faucet.ropsten.be/" style="">Ropsten faucet</a> or request some ether <a href="https://faucet.metamask.io/">here</a> to get sufficient funds in your wallet.</li>
 <li>Get your proper instance of the contract by clicking on the button 'Instanciate'. Please be patient, each transaction takes time before being validated in the Ropsten Blockchain network.</li>
 <li>Interact with your contract by using the dedicated Ethereum IDE <a href="https://remix.ethereum.org/">Remix</a>. You have to choose Solidity and the right compiler. Select Injected Web3 environment to link your Metamask account address with Remix. Sometimes the first compilation could trigger an error, if it occurs ignore it and recompile your contract.</li>
  <li>Once you think you stole all the money from the contract, a flag will appear if you request for it by clicking on the 'Get the flag' button.</li>
  <li>Please, do not attack this platform :(</li>
  <li>Have fun !</li>
</ol>

{% endblock %}

