<!--templates/index.html-->

{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="content">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4" style="text-align: center;">Welc0me</h1><br/>
			<center><img src="https://media.giphy.com/media/Vbtc9VG51NtzT1Qnv1/giphy.gif" /></center><br/>
			<p class="lead">Looking for some Smart Contract but no idea how to deal with it ? Take a look at <a href="/help">Help</a> section before asking question. Then choose your contract, pwn it and flag :-).</p>
		</div>
	</div>
</div>

{% endblock %}