<!--templates/level.html-->

{% extends "base.html" %}
{% block title %}Level {{ level }}{% endblock %}

{% block content %}

<div class="content">
		<div class="jumbotron" style="background-color: #eddfdf; padding-bottom: 0em; padding-top: 1em; margin-bottom: 0.5em; margin-top: 0.5em;">
			<h1 style="text-align: center;">Level {{ level }}</h1><br/>
		</div>
		<div class="jumbotron" style="background-color: #eddfdf; padding-bottom: 0.5em; padding-top: 0.5em; margin-bottom: 0.5em;">
			<center><b>Goal : </b> Steal the money<br/></center>
		</div>
{% highlight 'javascript' %}
{{ code }}
{% endhighlight %}
	<div class="jumbotron" style="background-color: #eddfdf; padding-bottom: 0.5em; padding-top: 0.5em; margin-bottom: 0.5em; margin-top: 0.25em;">
		<center>
			<div class="row">
				<div class="col">
					<form action="{{ url_for('deployContract', level=level) }}" method="post">
						<input type ="submit" value="Instanciate">&nbsp;&nbsp;
						<label>{{ address }}</label>
					</form>
				</div>
			</div>
		</center>
	</div>
	<div class="jumbotron" style="background-color: #eddfdf; padding-bottom: 0.5em; padding-top: 0.5em; margin-bottom: 0.5em; margin-top: 0.5em;">
		<center>
			<div class="row">
				<div class="col">
					<form action="{{ url_for('askFlag', level=level) }}" method="post">
						<input type ="submit" value="Get the flag">&nbsp;&nbsp;
						<label>{{ flag }}</label>
					</form>
				</div>
			</div>
		</center>
	</div>
</div>

{% endblock %}