<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sharky Shop</title>
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link rel="stylesheet" href="/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/css/datatable.min.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" width="60" height="60" alt="">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/sharks">Sharks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(!isAdmin){ %> disabled <% } %>" href="/admin" <% if (!isAdmin){ %> disabled="disabled" <% } %>>Admin</a>
          </li>
        </ul>
      </div>
      <% if(!user){ %>
        <form class="form-inline my-2 my-lg-0" method="post" action="/login">
          <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username">
          <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      <% } else { %>
        <label style="color:white; padding-right:20px;">Connected as : <%= user %></label>
        <form class="form-inline my-2 my-lg-0" method="post" action="/logout">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
      <% } %>
    </nav>
    <div class="container">
      <div class="alert alert-primary" role="alert">
        <%= comment %>
      </div>
    </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/datatable.min.js"></script>

</body>

</html>
