<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sharky Shop</title>
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link rel="stylesheet" href="/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/css/datatable.min.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" width="60" height="60" alt="">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/sharks">Sharks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(!isAdmin){ %> disabled <% } %>" href="/admin" <% if (!isAdmin){ %> disabled="disabled" <% } %>>Admin</a>
          </li>
        </ul>
      </div>
      <% if(!user){ %>
        <form class="form-inline my-2 my-lg-0" method="post" action="/login">
          <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username">
          <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      <% } else { %>
        <label style="color:white; padding-right:20px;">Connected as : <%= user %></label>
        <form class="form-inline my-2 my-lg-0" method="post" action="/logout">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
      <% } %>
    </nav>
    <div class="container">
      <hr>
      <div class="card-group">
        <div class="card border-info">
          <img class="card-img-top" src="/img/Ginglymostomatidae.jpg" alt="Ginglymostomatidae" style="height:200px">
          <div class="card-body text-info">
            <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
            <h5 class="card-title">Ginglymostomatidae</h5>
            <p class="card-text">This shark is pretty calm, it will stay at the bottom of your aquarium</p>
            <p class="card-text text-center"><b>3000$</b></p>
          </div>
        </div>
        <div class="card border-info">
          <img class="card-img-top" src="/img/whale_shark.jpg" alt="whale_shark" style="height:200px">
          <div class="card-body text-info">
            <p class="card-text"><small class="text-muted">Last updated 2 week ago</small></p>
            <h5 class="card-title">Whale Shark</h5>
            <p class="card-text">This shark is pretty big, don't forget to get an enormous tank for this one!</p>
            <p class="card-text text-center"><b>43000$</b></p>
          </div>
        </div>
        <div class="card border-info">
          <img class="card-img-top" src="/img/White_shark.jpg" alt="whale_shark" style="height:200px">
          <div class="card-body text-info">
            <p class="card-text"><small class="text-muted">Last updated 3 week ago</small></p>
            <h5 class="card-title">White Shark</h5>
            <p class="card-text">A classic, it's one of our best sellers. Don't be afraid to buy one of these big great shark!</p>
            <p class="card-text text-center"><strike><b>5000$</b></strike> <span class="badge badge-success">4000$</span></p>
          </div>
        </div>
    </div>
    <div class="alert alert-primary">To see every offer, please connect to the platform.</div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/datatable.min.js"></script>

</body>

</html>
