<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aqua World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"></link>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Aqua world
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user %}
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/admin-query?flag=flag" {% if user != "admin" %}disabled="disabled" {% endif %}>Admin Query</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if not user %}
      <button class="btn btn-success" type="button" id="login-anonymously">Login anonymously</button>
      {% else %}
      <label>{{user}}</label>
      {% endif %}
    </nav>
    <div class="container">
      <h1>Aqua news</h1>
      <div class="news">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='img/light_fish.gif') }}" alt="Puffer Light">
          <div class="card-body">
            <p class="card-text">My pufferfish is so focused on this light, it's following it like a cat!</p>
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <iframe style="height: 300px;" class="card-img-top" src="https://www.youtube.com/embed/rTqrpOLbhHQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">It's not directly related with the website, but look at this puffer, it's eating a carrot :o</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='img/fish_fight.webp') }}" alt="Puffer Light">
          <div class="card-body">
            <p class="card-text">Don't get involved in one of those fights oO</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
      btnLogin = $("#login-anonymously");
      btnLogin.click(function() {
        document.location = "http://anonymous:anonymous@"+ document.location.host +"/news";
      });
    </script>

  </body>
</html>
