<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png' ) }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
	<script src=""></script>
	<title>Erwin's home</title>
</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="/upload">Upload</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		
		<h1>Erwin Rudolf Josef Alexander Schrödinger's blog</h1>

		<img src="{{ url_for('static', filename='img/erwin.jpg' ) }}" alt="">

		<p>
			My name is Erwin Schrodinger, welcome to my blog.
		</p>
		<p>
			After my Nobel Prize I decided to start an infosec blog trying to merge these to hobbies of mine.
			There's the quantum calculator of course ! But that's well known and I am not fond of cryptography, I am searching for other sort of tricks.
		</p>
		<p>
			I am currently studying file format, if you want to help me to find some "quantum" state for files
			just go on the <a href="/upload">upload page</a> everything is explained.
		</p>
	</div>

</body>
</html>
