<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png' ) }}">
	<!--Import Materialize-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='prism.css' ) }}" rel="stylesheet">
	<script src=""></script>
	<title>Erwin's uploader</title>
</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="#">Upload</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<h2>
			Erwin's file uploader

			{% if error != None %}
			<span class="badge new red" data-badge-caption="">
				{{ error }}
			</span>
			{% endif %}

			{% if msg != None %}
			<span class="badge new green" data-badge-caption="">
				{{ msg }}
			</span>
			{% endif %}

		</h2>

		<pre><code id="code" class="language-python">{{ source_code }}</code></pre>

		<form method="POST" action="/upload" enctype="multipart/form-data">
			<div class="file-field input-field">
				<div class="btn">
					<span>Browse</span>
					<input id="browse-btn" type="file" name="file">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
				<button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>

	</div>

	<script src="{{ url_for('static', filename='prism.js' ) }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
